*{
    margin:0;
    padding: 0;
}
body{
    font-size: 16px;
    color:#333;
    font-family: 'Open Sans', sans-serif;
}
header{padding: 40px 0;background-color: #EEE;/* max-width: 110px; *//* margin: 0 auto; */}
li{
    list-style: none;
}
.container{
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}
.logo{width: 20%;float: left;}
.logo img{}
nav{
    width: 60%;
    float: left;
}
nav ul{}
nav ul li{
    float: left;
    display: inline-block;
}
nav ul li a{
    color: #333;
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 5px 20px;
    display: block;
}
nav ul li a:hover{
    color: #f3b91e;
}
img{
    max-width: 100%;
}
.social-list{
    width: 20%;
    float: left;
}
.social-list ul{}
.social-list ul li{
    float: left;
}
.social-list ul li a{
    display: block;
    color: #333;
    font-size: 18px;
    padding: 10px 20px;
}
.social-list ul li a:hover{
    color: #f3b91e;
}
.banner-section{
    background-image: url(../images/img1.jpg);
    background-color: #0000007d;
    min-height: 90vh;
    background-blend-mode: color;
}
.banner-content{
    width: 50%;
    float: right;
    margin-top: 15em;
}
.banner-content h1{
    font-size: 60px;
    line-height: 1;
    font-weight: 900;
}
.banner-content h1 span{
    color: #f2b91e;
}
.banner-content p{
    font-size: 20px;
    margin-top: 20px;
}
.about-us-section{
    padding: 100px 0;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.col{
    /*width: 50%;
    float: left;
    padding: 10px;
    box-sizing: border-box;*/
    flex-basis: 50%;
    max-width: 50%;
    padding: 25px;
    box-sizing: border-box;
}
.col h1{
    font-size: 3em;
    line-height: 1.2;
}
.col img{
    margin: auto;
    display: block;
    margin-bottom: 30px;
    margin-top: 51px;
}
.col p{
    font-size: 18px;
}

.courses-section{
    background-color: #EDF2F5;
    padding: 100px 0;
}
.course{
    max-width: 33.33%;
    flex-basis: 33.33%;
    padding: 15px;
    box-sizing: border-box;
    /* background-color: white; */
}
.course img{}
.course .course-box{
    background: white;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 0 0 20px #9898986e;
}
.course .course-box:hover{
    box-shadow: 0 0 0 #9898986e;
}
.course-box div{
    padding: 20px;
}
.course-box div h2{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1;
}
.course-box div p{}
